import { combineReducers } from 'redux';
import { routerReducer } from 'react-router-redux';
import { nprogress } from 'redux-nprogress';
{{{importContent}}}

const rootReducer = combineReducers({
  routing: routerReducer,
  nprogress,
  {{{content}}}
});

export default rootReducer;
