import ReduxReqs from 'redux-reqs';
{{#extraImport}}
{{{extraImport}}}
{{/extraImport}}

const reduxReqs = new ReduxReqs({
  prefix: '{{prefix}}'
});

reduxReqs
  .{{method}}('{{actionName}}', {{urlPrefix}}{{url}}{{urlSuffix}});

export const { {{actionType}} } = reduxReqs.getCreateActions();

export default reduxReqs.getReducers();

export const watchSagas = reduxReqs.getWatchSagas();
