<!DOCTYPE html>
<html class="borderbox">
    <head>
        <meta charset="utf-8">
        <!-- 使用高清方案生成 -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit">
        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
        <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <% if (htmlWebpackPlugin.options.platform !== 'mobile') { %>
        <script type="text/javascript">
            // 判断是否为 IE 浏览器
            var browser = navigator.appName;
            // 判断 IE 浏览器的版本号
            var b_version = navigator.appVersion,
                version = b_version.split(';'),
                trimVersion = version[1].replace(/[ ]/g, ''),
                trimVersionTrans = trimVersion.substr(4);
            // 如果访问的浏览器是 IE 浏览器，且版本号小于 9，
            // 则跳转到 /web/index.html
            if ( browser == 'Microsoft Internet Explorer' && trimVersionTrans < 9 ) {
                window.location.href = '/web/';
            }
        </script>
        <% } else { %>
        <script type="text/javascript">
            // 判断是否为 IE 浏览器
            var browser = navigator.appName;
            // 判断 IE 浏览器的版本号
            var b_version = navigator.appVersion,
                version = b_version.split(';'),
                trimVersion = version[1].replace(/[ ]/g, ''),
                trimVersionTrans = trimVersion.substr(4);
            // 如果访问的浏览器是 IE 浏览器，且版本号小于 9，
            // 则跳转到 /web/index.html
            if ( browser == 'Microsoft Internet Explorer' && trimVersionTrans < 9 ) {
                window.location.href = '/mobile/';
            }
        </script>
        <% }; %>
        <% if (htmlWebpackPlugin.options.platform == 'mobile') { %>
        <script>
            // 高清方案
            !function(e){function t(a){if(i[a])return i[a].exports;var n=i[a]={exports:{},id:a,loaded:!1};return e[a].call(n.exports,n,n.exports,t),n.loaded=!0,n.exports}var i={};return t.m=e,t.c=i,t.p="",t(0)}([function(e,t){"use strict";Object.defineProperty(t,"__esModule",{value:!0});var i=window;t["default"]=i.flex=function(e,t){var a=e||100,n=t||1,r=i.document,o=navigator.userAgent,d=o.match(/Android[\S\s]+AppleWebkit\/(\d{3})/i),l=o.match(/U3\/((\d+|\.){5,})/i),c=l&&parseInt(l[1].split(".").join(""),10)>=80,p=navigator.appVersion.match(/(iphone|ipad|ipod)/gi),s=i.devicePixelRatio||1;p||d&&d[1]>534||c||(s=1);var u=1/s,m=r.querySelector('meta[name="viewport"]');m||(m=r.createElement("meta"),m.setAttribute("name","viewport"),r.head.appendChild(m)),m.setAttribute("content","width=device-width,user-scalable=no,initial-scale="+u+",maximum-scale="+u+",minimum-scale="+u),r.documentElement.style.fontSize=a/2*s*n+"px"},e.exports=t["default"]}]);
            flex(100, 1);
            // 引入 Promise 的 fallback 支持 (部分安卓手机不支持 Promise)
            if(!window.Promise) {
                document.writeln('<script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"'+'>'+'<'+'/'+'script>');
            }
        </script>
        <% }; %>
    </head>
    <body>
        <div id="app"></div>
        <script src="<%= htmlWebpackPlugin.options.bundle %>"></script>
    </body>
</html>
